<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center ">
                <h2>About Me</h2>
                <hr class="small">
                <p class="lead">Hello, my name is Taofiqiya Adelakun I am a graduate of Applied Information Technology from Staffordshire university. I have just finished my Masters in Web an Cloud Computing. I love programming, learning new technology to enhance my skills is a passion of mine. I develop in the backend and front end.A new technology that I am learning is the MEAN Stack. Currently looking for a challenging role in software development that would allow me to use and improve on my skills as a Software Developer. If I am not writing code I could be found enjoying a movie or running.  </p>
            </div>
        </div>
    </div>
</section>
