<aside id="callout" class="callout">
    <div class="text-vertical-center">
      <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Skills</h2>
                <hr class="small">
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                           <h3> Server Side Programming language</h3>
                                           <hr class="small">
                            <h4>
                                Ruby, Ruby on Rails<br> PHP <br> Python, Django, Tkinter
                            </h4>
                            <h3> Client Side Programming language</h3>
                                            <hr class="small">
                            <h4>
                               HTML, CSS, SCSS Bootstrap <br> Javascript, Jquery
                            </h4>
                            <h3>OS</h3>
                            <h4>Windows , Linux, OSX</h4>
                          
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                                                      <h3> Other Technologies</h3>
                                                                      <hr class="small">
                            <h4> Git version control</h4>
                             <h4> Heroku</h4>
                              <h4> Cloud9 cloud based IDE</h4>
                               <h3> Database</h3>
                                               <hr class="small">
                            <h4> <strong>SQL</strong> MySQL, SQLite, PostgreSQL</h4>
                              <h4> <strong>NoSQL</strong> MongodbL, Cassandra</h4>
                            
                            
                            
                        
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        </div>
    </div>
</aside>
