<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>TAOFIQIYA ADELAKUN</strong>
                </h4>
                <br>
                <ul class="list-inline">
                     
                    <li>
                        <a href="https://www.instagram.com/ayamgood" target="_blank"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ayamgood" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/taofiqiya-adelakun-a19b6a10a?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; TAOFIQIYA ADELAKUN 2016</p>
            </div>
        </div>
    </div>
</footer>
