<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Hello i am TAOFI</h1>
        <h3>I am a software developer, Welcome to my Portfolio </h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">About Me</a>
        <a href="#portfolio" class="btn btn-lg btn-light">Portfolio</a>
    </div>
</header>
