<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>My Portfolio</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <div class="panel panel-default">
                                 <div class="panel-heading">
                                     <h3 class="panel-title">Snow App - Social Media App for Sheffield Hallam University (MSc Project)</h3>
                                    </div>
                                    <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/port1.PNG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
              <div class="panel-body">
                <p align = "left">This Application was my final project for my MSc. The application is similar to twitter</p> 
       
                <h2>Ruby on Rails</h2>
                <h2>Bootstrap HTML, CSS, SCSS, JavaScript</h2>
                <h2>Rubygems </h2>
                <h2>Authorization and authentication built from scratch</h2>
                <h2>Unit Testing</h2>

                 </div>
              <div class="panel-footer">
                  <div class="btn btn-primary"><a href="https://bitbucket.org/ayomey/project/src" target="_blank">
                                <i class="fa fa-bitbucket"></i> Source Code</a></div>
                             <div class="btn btn-success"><a href="https://shusnowapp.herokuapp.com/" target="_blank">
                                <i class="fa fa-eye"></i> Preview</a></div>
               </div>
                </div>
                            
              </div>
                       
             </div>
             
             <div class="col-md-6">
                        <div class="portfolio-item">
                            <div class="panel panel-default">
                                 <div class="panel-heading">
                                     <h3 class="panel-title">SHUBook Store - Ecommerce App (Group Work)</h3>
                                    </div>
                                    <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/port2.PNG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
              <div class="panel-body">
                  
               <p align = "left"> For a group assignment for a database and web module during my Masters this app was produced.The app allow anyone to sell or
                buy books</p>
                <h2>PHP</h2><h2>MySql</h2><h2>Bootstrap HTML, CSS, JavaScript, Jquery</h2>
                <h3 align = "left">Group mates</h3>
                  <p align = "left">CHRISTOPHER IKHONMIOTOR </p>
                  <p align = "left">Intisar Omar</p>
                 </div>
              <div class="panel-footer">
                  <div class="btn btn-primary"><a href="https://bitbucket.org/ayomey/shubook/src" target="_blank">
                                <i class="fa fa-bitbucket"></i> Source Code</a></div>
                             <div class="btn btn-success"><a href="https://frozen-garden-92687.herokuapp.com" target="_blank">
                                <i class="fa fa-eye"></i> Preview</a></div>
               </div>
                </div>
                            
              </div>
                       
             </div>
             <div class="col-md-6">
                        <div class="portfolio-item">
                            <div class="panel panel-default">
                                 <div class="panel-heading">
                                     <h3 class="panel-title">SCITEC4SEN A non profit organisation </h3>
                                    </div>
                                    <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/port3.PNG", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
              <div class="panel-body">
                <p align = "left">
                   The organisation is working to provide science education to visually impired students in Nigeria.
                   I started volunteering for them in January 2016. The web app allow visitors to
                   learn about the organisation and thier programmes and also users can register for their
                   forthcoming confrence and submit abstract
                </p>

                <h2>Ruby on Rails</h2>
                <h2>Bootstrap, HTML, CSS, SCSS  </h2>
                <h2>devise gem for authorization and authentication</h2>
                
                 </div>
              <div class="panel-footer">
                             <div class="btn btn-success"><a href="http://www.scitec4sen.com/" target="_blank">
                                <i class="fa fa-eye"></i> Preview</a></div>
               </div>
                </div>
                            
              </div>
                       
             </div>
             

                   
                </div>
                <!-- /.row (nested) -->
                <a href="#top" class="btn btn-dark">Back To Top</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
